@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

/* body {
    background-color: #000000fd;
} */

header {
  background-color: #f0f0f0;
  width: 100%;
  /*ياخد العرض كلو*/
  position: fixed;
  /*يفضل ثابت مكانه حتي لو اتحركت في الصفحه*/
  z-index: 999;
  /*مفيش محتوي يخترقه*/
  display: flex;
  justify-content: space-between;
  /*مسافه بينهم*/
  align-items: center;
  padding: 10px 200px;
  /*الاولي فوق وتحت و التانيه يمين وشمال*/
  box-shadow: 5px 5px 15px rgba(1 1 1/ 40%);
}

.logo {
  text-decoration: none;
  /* color: #4c00ff; */
  color: #3a6cd4;
  font-weight: 700;
  /*تخن الكلمه*/
  font-size: 1.8em;
}

.navigation a {
  color: #3a6cd4;
  text-decoration: none;
  font-weight: 500;
  font-size: 1.1em;
  padding-left: 30px;
  /* padding: 6px 15px;
    border-radius: 20px; */
}

.navigation a:hover {
  color: #601cfc;
  /* background-color: rgb(34, 33, 54); */
}

section {
  padding: 100px 100px;
  text-align: center;
}

.main {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  background: url(images/InShot_٢٠٢٢٠١٠٥_٢٣٣٧١٧٥٢٥.jpg) no-repeat;
  background-size: cover;
  /*بتخلي الصوره كامله في الصفحه*/
  background-position: center;
  /*بتحط الصوره في النص*/
  background-attachment: scroll;
  /* background-attachment: fixed; */
  /*بيدي الصوره ايفيكت*/
}

.main h2 {
  color: white;
  font-size: 1.4em;
  font-weight: 500;
}

.main h2 span {
  display: inline-block;
  margin-top: 10px;
  color: #4e9eff;
  font-size: 3em;
  font-weight: 600;
}

.main h3 {
  color: white;
  font-size: 2em;
  font-weight: 700;
  letter-spacing: 1px;
  /*بتعمل مسافه بين الحروف*/
  margin-top: 10px;
  /*مسافه برا*/
  margin-bottom: 30px;
}

.main-btn {
  color: white;
  background-color: #3a6cd4;
  text-decoration: none;
  font-size: 1.1em;
  font-weight: 600;
  display: inline-block;
  padding: 0.9375em 2.1875em;
  /*مسافه جوا*/
  letter-spacing: 1px;
  border-radius: 15px;
  /*الانحناء اللي في الاطراف*/
  margin-bottom: 40px;
  transition: 0.7s ease;
  /*فتح الانميشن ببطئ*/
}

.main-btn:hover {
  background-color: #0a49f6;
  transform: scale(1.1);
}

.social-icons a {
  color: rgb(233, 233, 233);
  font-size: 1.6em;
  padding-right: 20px;
}

.title {
  display: flex;
  justify-content: center;
  color: #3a6cd4;
  font-size: 2.2em;
  font-weight: 800;
  margin-bottom: 30px;
}

.content {
  display: flex;
  justify-content: center;
  flex-direction: row;
  /*الكروت جنب بعض*/
  flex-wrap: wrap;
  /* لو صغرنا الشاشه بيتحطو تحت بعض */
}

.card {
  background-color: white;
  width: 21.25em;
  box-shadow: 0 5px 15px rgba(1 1 1/ 15%);
  border-radius: 10px;
  padding: 25px;
  margin: 15px;
  transition: 0.7s ease;
}

.card:hover {
  transform: scale(1.1);
}

.icon {
  color: #3a6cd4;
  font-size: 8em;
  text-align: center;
}

.info {
  text-align: center;
}

.info h3 {
  color: #3a6cd4;
  font-size: 1.2em;
  font-weight: 700;
  margin: 10px;
}

.projects {
  background: url(images/InShot_٢٠٢٢٠١٠٦_٠٠٣٨٥٨٢٥٤.jpg);
  background-size: cover;
  background-position: center;
}

.projects .content {
  margin-top: 30px;
}

.project-card {
  background-color: white;
  border: 1px solid white;
  min-height: 14em;
  width: 23em;
  overflow: hidden;
  border-radius: 10px;
  margin: 20px;
  transition: 0.7s ease;
}

.project-card:hover {
  transform: scale(1.1);
}

.project-card:hover .project-image {
  opacity: 0.9;
}

.project-image img {
  width: 100%;
}

.project-info {
  padding: 1em;
}

.project-category {
  font-size: 0.8em;
  color: black;
}

.project-title {
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  font-weight: 800;
  margin-top: 10px;
}

.more-details {
  text-decoration: none;
  color: #3a6cd4;
}

.more-details:hover {
  color: #601cfc;
}

.content .icon {
  font-size: 4.5em;
}

.content .info h3 {
  color: #000;
}

.content .info p {
  font-size: 1.2em;
}

.footer {
  background: url(images/InShot_٢٠٢٢٠١٠٦_٠٠٣٨٥٨٢٥٤.jpg);
  background-size: cover;
  background-position: center;
  /* background-color: black; */
  color: white;
  padding: 1em;
  display: flex;
  justify-content: space-between;
}

.footer-title {
  font-size: 1.3em;
  font-weight: 600;
}

.footer-title span {
  color: #3a6cd4;
}

.footer .social-icons a {
  font-size: 1.3em;
  padding: 0 12px 0 0;
}

#btn {
  width: 35px;
  height: 35px;
  border: none;
  cursor: pointer;
  background: #3a6cd4;
  border-radius: 30px;
  position: fixed;
  bottom: 20px;
  right: 10px;
  /* display: none; */
  transition: 0.2s;
  color: #f0f0f0;
}

#btn:hover {
  background: #0a49f6;
  border-radius: 30px;
  border: none;
  transition: 0.6s ease;
  transform: scale(1.1);
}

@media (max-width: 1023px) {
  header {
    padding: 10px 10px;
  }
  .navigation a {
    padding-left: 8px;
  }
  .title {
    font-size: 1.8em;
  }
  section {
    padding: 80px 20px;
  }
  .main-content h2 {
    font-size: 1em;
  }
  .main-content h3 {
    font-size: 1.6em;
  }
  .content {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 614px) {
  body {
    font-size: 12px;
  }
  .main-content h2 {
    font-size: 00.8em;
  }
  .main-content h3 {
    font-size: 1.8em;
  }
}

@media (max-width: 300px) {
  body {
    font-size: 10px;
  }
}
